<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Tic Tac Toe</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <p th:text="${winbool}"></p>
    <table>
        <tr th:each="row : ${board.getBoard()}">
            <td th:each="spot : ${row}">
                <form action="#" th:action="@{/}" th:object="${newBoard}" method="post">
                    <p><input type="text" th:field="*{board}" /></p>
                </form>
            </td>
        </tr>
    </table>
    <p><input type="submit" value="Submit" />
        <!-- <form th:action="@{/}" th:object="${row}" method="post">
        <p>Row: <input type="text" th:field="*{row}" /></p>
        <p>Column: <input type="text" th:field="*{col}" /></p>
        <p><input type="submit" value="Submit" />
    </form> -->
</body>

</html>